# Lab 04: Support Vector Machine (SVM)

#### Import library

In [2549]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

#### Data preprocess

##### Checking current directory

In [2550]:
current_path = os.getcwd()
print("The current working directory is:", current_path)

The current working directory is: c:\Users\Acer\Projects\Swinburne\COS30082 - Applied Machine Learning\Week 4

##### Get the dataset

In [2551]:
# Load the dataset
df = pd.read_csv('Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##### Preprocessing

In [2552]:
# Preprocessing

# Encoding categorical data
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])              # Convert 'Sex' to numerical

df['Embarked'].fillna('S', inplace=True)                        # Fill missing 'Embarked' with 'S' for Southampton
df['Embarked'] = label_encoder.fit_transform(df['Embarked'])    # Convert 'Embarked' to numerical

# Handling missing values
df['Age'].fillna(df['Age'].median(), inplace=True)              # Replace missing 'Age' with median value

C:\Users\Acer\AppData\Local\Temp\ipykernel_36636\4184052808.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna('S', inplace=True)                        # Fill missing 'Embarked' with 'S' for Southampton
C:\Users\Acer\AppData\Local\Temp\ipykernel_36636\4184052808.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)              # Replace missing 'Age' with median value

##### Identify independent variables

In [2553]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df['Survived']

##### Split dataset into training and test set

In [2554]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 )

#### Model training

##### Create a SVM classifier and fit the model

In [2555]:
# Fit (train) the Support Vector Machine classifier
svm = SVC()
model = svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)

##### Utilize your model to make predictions on the testing data, calculate evaluation metrics such as accuracy and recall, and print the results.

In [ ]:
print("Accuracy {0:.2f}%".format(100*accuracy_score(y_pred, y_test)))
print("\nClassification Report:\n", classification_report(y_test, y_pred))